@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Yatra+One&display=swap');



$nice_white:#EEF1EF;
$nice_black:#1C2321;


body{
    margin:0px;
    background-color: white;
    overflow: hidden;
}

#main-container{
    height:100vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    z-index: 1;
    position:relative;
    #landing-container{
        display:flex;
        position:absolute;
        width:100vw;
        z-index: 3;
        transition:0.29s ease-in-out;
        #about-me-container{
            width:65vw;
            z-index: 5;
            box-sizing: border-box;
            height:100vh;
            display: flex;
            flex-direction: column;
            // align-items: ;
            cursor:default;
            overflow: hidden;
            justify-content: flex-start;
            #text{
                padding: 16vh;
                z-index: 5;
                display: flex;
                flex-direction: column;
                // background-color: grey;
                
                #small-title{
                    z-index: 5;
                    margin-right: auto;
                    font-size: 4vw;
                    font-family: "Work Sans",sans-serif;
                }
                #big-title{
                    z-index: 5;
                    font-size: 10vw;
                    font-family: "Yatra One",system-ui;
                }
                
                #rect{
                    margin-inline: auto;
                    z-index: 5;
                    box-sizing: border-box;
                    padding:10px;
                    font-size: 1vw;
                    border-radius: 8px;
                    font-family: "Yatra One",system-ui;
                    box-shadow: 0px 0px 10px #7D98A1;
                    // background-color: #5E6572;
                    color: white;
                }
                
                #content{
                    font-family: "Work Sans",sans-serif;
                    margin-top: 32px;
                    margin-inline: auto;
                    z-index: 5;
                    font-size: 1vw;
                }
            }
            #more{
                background-color: #1C2321;
                font-size: 1vw;
                padding:10px;
                margin-inline: auto;
                border-radius: 8px;
                color:white;
                position:relative;
                font-family: "Work Sans",sans-serif;
                cursor:pointer;
                #nuh{
                    z-index: 5;
                }
                #circle{
                    position: absolute;
                    top:0%;
                    left:50%;
                    margin-inline: auto;
                    z-index: 3;
                    height:25px;
                    width:25px;
                    // opacity:0;
                    border-radius: 50%;
                    background-color: #1C2321;
                    transition:transform 0.83s ease-in-out , opacity 0.29s ease ;
                }
            }
        }
        #click{
            z-index: 50;
            position:absolute;
            bottom:16%;
            left:31%;
            animation:jump 1s infinite;
            font-family: "Yatra One",system-ui;
            font-size: 1vw;
        }
        @keyframes jump {
            0%{
                transform:translateY(0px);
            }
            50%{
                transform:translateY(-10px);
            }
            100%{
                transform:translateY(0px);
            }
        }
        #pic-container{
            width:35vw;
            height:100vh;
            overflow:hidden;
            display: flex;
            z-index: 1;
            #grid{
                position:relative;
                #rows{
                    z-index: 4;
                    position:absolute;
                    display:flex;
                    height:100vh;
                    flex-direction: column;
                    justify-content: space-between;
                    #lines{
                        height:1px;
                        transition:0.19s ease-in-out;
                    }
                }
                #col{
                    z-index: 4;
                    position:absolute;
                    display:flex;
                    // height:100vh;
                    width:35vw;
                    justify-content: space-between;
                    #lines{
                        width:1px;
                        transition:0.19s ease-in-out;
                        
                    }
                }
            }
            img{
                z-index: 6;
                transition:0.39s ease-in-out;
            }
        }
    }
    #page-container{
        z-index:9;
        position:absolute;
        transform:translateY(100vh);
        overflow: hidden;
        height:100vh;
        background-color: $nice_white;
        width:100vw;
        display: flex;
        transition:0.39s ease-in-out;
        #bars-container{
            width:50vw;
            height:100vh;
            position:relative;
            #bars{
                position: absolute;
                z-index: 8;
                // width:50vw;
                // overflow: hidden;
                #bar{
                    width:50vw;
                    height:50vh;
                    background-color: $nice_black;
                    
                    // transform:rotate(45deg);
                }
            }
            #index{
                position: absolute;
                height:100vh;
                width:50vw;
                z-index: 9;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                // background-color: blue;
                font-family: "Work Sans",sans-serif;
                font-size: 1.5vw;
                cursor:default;
                #each-content{
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: column;
                    &:hover{
                        font-family: Arial, Helvetica, sans-serif;
                        // transform:translateY(10px);
                        // transform:scale(1.2);
                        
                    }
                    #underline{
                        height:1px;
                        background-color: white;
                    }
                }
            }
            
        }
        #content-container{
            width:50vw;
            box-sizing: border-box;
            padding:2%;
            // background-color: red;
            position:relative;
            height:100vh;            
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #cross{
            position:absolute;
            right:2%;
            top:2%;
            cursor:pointer;
            z-index: 9;
        }
        
        
    }
}